.bg-shw{box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1)}
.avatar {
  margin-top: -15px;
  margin-bottom: -15px;
  width: 30px;
  height: 30px;
}
.pd-box{
  margin-right: -9px;
  padding-top:12px;
}
.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
    width: 22rem;
}

.f-small{
  font-size: 85%;
}
.pd-box1 {
    padding-right: 2em;
}
.badge1 {
  position:relative;
}
.badge1[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: 0px;
  right: -8px;
  font-size: 10px;
  background: #f55050;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  box-shadow: 0 0 1px #f55050;
}