<div class="wrapper-dashboard m-3">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 d-inline">
            </div>
            <div class="col-md-6 d-inline">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                                <h2 class="text-left">HOME</h2>

            </div>
            <div class="col-6">
                2 of 3 (wider)
            </div>
            <div class="col">
                <a class="btn btn-info btn-sm text-white">Today <i class="fas fa-calendar"></i></a>
            </div>
        </div>
        
    </div>
</div>