<nav id="sidebar">
    <div class="sidebar-header">
        <h3 class="h6">Transformative</h3>
        <strong>TS</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" [routerLink]="['/login']" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-home"></i>
                Home
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-briefcase"></i>
                Order
            </a></li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    Inventory
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    Vendors
                </a>
            </li>
            <li><a href="#">
                <i class="fas fa-briefcase"></i>
                Ware
            </a>
        </li>
    </ul>

</nav>
